body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1280px;
  margin: 0 auto;
}
.header {
  font-weight: 400;
  font-size: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.header_title {
  color: #000000;
  text-decoration: none;
}

.header_title_blue {
  color: #4bcaff;
}

.menu_list {
  background-color: #35444f;
  box-sizing: border-box;
  display: flex;
  font-weight: 400;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  padding-left: 30px;
}

.link-menu-1{
  text-decoration: none;
  color: #ffffff;
}

.menu_list_item {
  box-sizing: border-box;
  border-left: 1px solid #ffffff;
  padding: 30px;
  text-decoration: none;
  color: #ffffff;
} 

.menu_list_item:hover {
  background: rgba(34, 47, 58, 1);
  box-sizing: border-box;
  border-left: 1px solid #ffffff;
  padding: 30px;
} 

.basic-information{
  display: flex;
  flex-direction: row;
  width: 1284px;
}
.aside-menu{
  width: 344px;
  height: 399px;
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 52px;
}

.aside-menu a{
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
}

.aside-item{
  padding-left: 44px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: auto;
  text-align: left;
}

.aside-item:hover{
  background-color: #DBDBDB;
  padding-left: 0;
  text-align: center;
  text-decoration: none;
}

.aside-item a:hover{
  color: #000000;
}

.content {
  display: flex;
  flex-direction: column;
}
.image_box {
  width: 100%;
  border: #000000 solid 1px;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  display: inline-block;
  overflow: hidden;
}
.image_one {
  transition: 1s;
  display: block;
}
.image_one:hover {
  transform: scale(1.2);
}
.content_text {
  font-weight: 400;
  font-size: 18px;
  color: #2c2c2c;
  margin-top: 35px;
  letter-spacing: 1px;
}
.footer {
  display: flex;
  margin-top: 55px;
}
.footer_list {
  font-size: 28px;
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  box-sizing: border-box;
  min-height: 70px;
  justify-content: flex-start;
  align-items: center;
}
.footer_item {
  padding: 15px;
}
.link-menu-3{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.footer_end {
  display: flex;
  box-sizing: border-box;
  font-size: 28px;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
}
.link-menu-3:hover {
  color: rgba(49, 129, 166, 1);
  text-decoration: underline;
}
